/* body
{
	transform: rotate(0deg);
	margin: 0px;
	transition: transform 15s;
}

body:hover{
	transform: rotate(156165deg);
} */

body
{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#headerContainer
{
	background-color: #444444;
	/* width: 100%; */
	box-shadow: 0px 0px 4px #444444;
	align-items: stretch;
	display: flex;
	justify-content: center;
	height: 50px;
}

#header
{
	/* background-color: #; */
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1100px;
	align-items: center;
	/* border: 1px solid; */
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #CCCCCC;
	/* color: #FF55FF; */

}

.headerLink
{
	margin-right: 25px;
}

#loginMenu
{
	position: absolute;
	right: 20px;
	display: flex;
	/* border: 1px solid; */
	font-size: 20px;
}

#dropDownMenu
{
	visibility: hidden;
	position: absolute;
	left : -200px;
	top : 30px;
	width: 200px;
	height: 400px;
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 1px #AAAAAA solid;
}

/* #dropDownMenu
{
	visibility: hidden;
	position: absolute;
	left : -50px;
	top : 30px;
	width: 200px;
	height: 400px;
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 1px #AAAAAA solid;
} */

#contentContainer
{
	/* background-color: #444444; */
	/* width: 100%; */
	align-items: stretch;
	display: flex;
	justify-content: center;

}

#content
{
	display: flex;
	width: 100%;
	max-width: 1200px;
	flex-direction: column;
}

#mainLogo
{
	margin: 5px;
	margin-left: 18px;
	display: flex;
	width: 85%;
	/* border: 1px solid #33FFCC; */
	color: #FFFFFF;
}
/* @media (max-width: 800px) {
	#mainLogo
	{
		width: 20vw;
	}
} */

a:link
{
	color: #DDDDDD;
	text-decoration: none;
}

a:visited
{
	color: #DDDDDD;
	text-decoration: none;
}
a:hover
{

	text-decoration: none;
}

/* img#gallery .photo
{
	width: 50px;

} */

#gallery
{
	min-height: 700px;
	/* min-width: 800px; */
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	justify-content: center;
}

.divPhoto
{
	width: 45%;
	margin: 5px;
	font-size: 1vw;
	/* display: flex; */
	/* width: 10%%; */
}

.photo
{
	width: 100%;
	/* width: 45%; */

}

#btnGallery
{
	display: flex;
	width:100%;
	justify-content: center;
}

#btnLoginMenu
{
	cursor: pointer;
}

.register
{
	display: flex;
	justify-content: center;
}

.login
{
	display: flex;
	justify-content: center;
}

.registerCard
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	border: 1px #DDD solid;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #DDD;
	width: 100%;
	max-width: 360px;
}

.loginCard
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	border: 1px #DDD solid;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #DDD;
	width: 100%;
	max-width: 360px;
}

.input
{
	display: flex;
	justify-content: center;
}

.input > input
{
	border: 1px #DDD solid;
	border-radius: 3px;
	height: 32px;
	font-size: 16px;
	margin-bottom: 14px;
	width: 230px;
	max-width: 380px;
}

.registerBtn
{
	display: flex;
	justify-content: center;
}

.like {
	object-fit: scale-down;
	height: auto;
	width: auto;
	max-width: 60px;
	max-height: 60px;
	/* border: 1px #FF0000 solid; */
}

.like img {
	width: 100%;
}




@media (max-width: 700px)
{
	#gallery
	{
		width: 100%;
		display: flex;
		/* flex-direction: column; */
		flex-wrap: wrap;
		justify-content: center;
		border: 1px #000000 solid;
	}

	.divPhoto
	{
		width: 100%;
		margin: 5px;
		font-size: 1vw;
		/* display: flex; */
		/* width: 10%%; */
	}
}
